* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

h1 {
    display: flex;
    justify-content: center;
}

nav {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 2px 0;
    margin-bottom: 30px;
    position: relative;
    top: 50px;
}

.link {
    text-decoration: none;
    color: #000000;
    padding: 20px 0;
    width: 90px;
    text-align: center;
}

header {
    background-color: #266285;
    color: #ffffff;
    padding: 20px 0;
}

.link:hover {
    color: #266285;
    background-color: #ffffff;
    padding: 20px 0;
    width: 90px;
    text-align: center;
    transition: all 0.3s ease;
}   



.feed {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.post {
    background-color: #ffffffb9;
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    position: absolute;
}

.titulo-post {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #ffffff;
    opacity: 0.8;
    top: -30px;
    background-color: #0000009b;
    position: relative;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
}

.descricao-post p{
    font-size: 1em;
    color: #333;
    width: 100%;
}

